body {
    /* background-color:#2196F3; */
    width: 300px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

img {
    max-width: 64px;
    height: auto;
}

h1 {
    font-size: 25px;
}

hr {
    margin: 10px 0;
}

.dark-mode {
    background-color: #2d2d2d;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

#options {
    margin-bottom: 20px;
}

/* Pop Up Header */
.popup-header {
    display: flex;
    align-items: center;
}

.popup-header img {
    max-width: 64px;
    height: auto;
}

.popup-header h1 {
    margin-left: 10px; /* Adjust the margin as needed */
}

.popup-header p {
    margin-left: 10px; /* Adjust the margin as needed */
    margin-top: 5px; /* Adjust the margin as needed */
}

/* BEGIN Togle Switch */
#toggleContainer {
    display: flex;
    align-items: center;
    /* padding: 10px; */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#toggleLabel {
    margin-left: 10px;
}
/* END Togle Switch */


/* BEGIN Theme Swicther */
#themeSwitchContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#themeSwitchLabel {
    margin-right: 10px;
    font-size: 14px;
}

#themeSwitch {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
}

/* Customize colors for better visibility */
#themeSwitchContainer.dark-mode {
    color: #fff;
}

#themeSwitchContainer.light-mode {
    color: #333;
}

/** END Theme Swicther */